<div class="section" id="about">
  <div class="container">
    <h2>Sobre a Série One Piece</h2>
    <p>
      One Piece é uma série de mangá e anime criada por Eiichiro Oda. A história
      segue as emocionantes aventuras de Monkey D. Luffy e sua tripulação dos
      Mugiwaras enquanto eles navegam pelos mares em busca do lendário tesouro
      conhecido como "One Piece".
    </p>

    <h3>Enredo e Personagens</h3>
    <p>
      A série é conhecida por sua rica narrativa, personagens cativantes e mundo
      bem elaborado. Luffy, um pirata com o poder da fruta Gomu Gomu, busca se
      tornar o Rei dos Piratas, enfrentando desafios, inimigos poderosos e
      fazendo aliados ao longo do caminho.
    </p>

    <h3>Mangá e Anime</h3>
    <p>
      O mangá de One Piece estreou em 1997 e se tornou um dos mais populares no
      mundo. O anime adapta a história do mangá e também ganhou uma grande base
      de fãs. A série é conhecida por seus momentos épicos, reviravoltas
      emocionantes e humor único.
    </p>

    <h3>Mensagem de Amizade e Determinação</h3>
    <p>
      Além da ação e da aventura, One Piece também transmite mensagens de
      amizade, determinação e perseverança. Os laços entre os personagens e a
      busca incansável de Luffy por seus sonhos são temas centrais da série.
    </p>
  </div>
</div>
